.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
    font-family: 'trojan, sans-serif';
    background: linear-gradient(to right, rgba(royalblue, .3), rgba(steelblue, .2)),url('/assets/images/header_bg.png') bottom/cover fixed no-repeat;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);

    &__left {
        &__img {
            width: 10rem;
            img {
                width: 100%;
            }
        }
    }
    &__center {
        &__heading {
            text-align: center;
            font-size: 3rem;
            font-family: 'trojan, sans-serif';
            margin: 0 auto;
            &__sub {
                text-align: center;
                font-size: 1.8rem;
                margin: 0 auto;
            }
        }
        &__links {
            &__link {
                padding: 0.3rem 0;
                text-align: center;
                font-size: 1.2rem;
                a {
                    color: #3b6eb9;
                    text-decoration: none;
                    &:visited,
                    &:hover {
                        color: #3b6eb9;
                    }
                }
            }
        }
    }
}

@media (max-width: 720px) {
    .header {
        padding: 3rem;
        flex-flow: row wrap;
        &__left {
            width: 100%;
            &__img {
                margin: 0 auto;
            }
        }
        &__center {
            margin-top: 1rem;
            width: 100%;
            &__heading {
                font-size: 2.2rem;
                margin-bottom: 1.5rem;
            }
        }
    }
}

@media (max-width: 450px) {
    .header {
        &__center {
            &__heading {
                font-size: 1.8rem;
                margin-bottom: 1.25rem;
            }
        }
    }
}
