<div class="header">
  <div class="header__left">
    <div class="header__left__img">
      <img src="/assets/images/logo.png" alt="mount carmel" />
    </div>
  </div>
  <div class="header__center">
    <h1 class="header__center__heading">
      <span>School Council Self Nomination Form</span>
      <br />
      <span>Anand Niketan (2019-20)</span>
    </h1>
    <!-- <div class="header__center__links">
      <p class="header__center__links__link">
        <a href="https://www.mountcarmelschool.com/" target="_blank">For Guidelines and FAQ's (Click Here)</a>
      </p>
      <p class="header__center__links__link">
        <a href="https://www.mountcarmelschool.com/" target="_blank">For Schedule and important dates (Click Here)</a>
      </p>
    </div> -->
  </div>
  <div class="header__right"></div>
</div>
