<div class="student-form-container">
  <div style="width: 0; height: 0;" #scrollTop></div>
  <mat-vertical-stepper class="mat-elevation-z4" [linear]="true" #formStepper>
    <mat-step [stepControl]="basicDetailsForm">
      <form fxLayout="column" [formGroup]="basicDetailsForm">
        <ng-template matStepLabel >Basic Details</ng-template>
        <div fxFlex="1 0 auto" fxLayout="column">
          <div class="mat-radio-container">
            <mat-radio-group aria-label="Select an option" formControlName="positionApplied">
              <mat-radio-button value="school">School Prefect</mat-radio-button>
              <mat-radio-button value="house">House Prefect</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="basicDetailsForm.get('positionApplied').hasError('required') && (showBasicDetailsError || basicDetailsForm.get('positionApplied').touched)">
              Position to apply must be selected!
            </mat-error>
          </div>
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Name</mat-label>
            <input matInput disabled [value]="basicDetailsForm.get('studentName').value">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Class</mat-label>
            <input matInput disabled [value]="basicDetailsForm.get('class').value">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>House</mat-label>
            <input matInput disabled [value]="basicDetailsForm.get('house').value">
          </mat-form-field>
            <div formGroupName="cards" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" class="cards">
              <mat-form-field appearance="outline" fxFlex="24">
                <mat-label>Worthy</mat-label>
                <input matInput disabled [value]="basicDetailsForm.get('cards.worthy').value">
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="24">
                <mat-label>Intellect</mat-label>
                <input matInput disabled [value]="basicDetailsForm.get('cards.intellect').value">
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="24">
                <mat-label>Stature</mat-label>
                <input matInput disabled [value]="basicDetailsForm.get('cards.stature').value">
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="24">
                <mat-label>Emotion</mat-label>
                <input matInput disabled [value]="basicDetailsForm.get('cards.emotion').value">
              </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button matStepperNext type="button" color="accent" (click)="onBasicDetailsFormNext(); onFormChange()">
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="abilitiesForm">
      <form fxLayout="column" [formGroup]="abilitiesForm">
        <ng-template matStepLabel>Abilities And Achievements</ng-template>
        <div fxFlex="1 0 auto" fxLayout="column">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Record of responsibilities held so far</mat-label>
            <input matInput formControlName="resposibilitiesHeld" required>
          </mat-form-field>
          <div formGroupName="academicPerformance" class="group-container" fxFlex="100" fxLayout="column">
            <div class="label-container">
              <mat-label>Academic Performance</mat-label>
            </div>
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Total (%) - 5 Subjects</mat-label>
              <input matInput formControlName="total" required type="number">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>11th Midterm (%) (if not applicable fill NA)</mat-label>
              <input matInput formControlName="eleventhMidTermPerc" required>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Attendence (%)</mat-label>
              <input matInput formControlName="attendancePerc" required type="number">
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Have you failed in any subject in Midterm</mat-label>
            <input matInput formControlName="failedMidtermOrNot" required>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Co-Scholastic Achievements</mat-label>
            <input matInput formControlName="scholasticAchievement" required>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Sports Achievements</mat-label>
            <input matInput formControlName="sportsAchievement" required>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Other Achievements</mat-label>
            <input matInput formControlName="otherAchievement" required>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Any case of indiscipline that you have been invoved in</mat-label>
            <input matInput formControlName="indisciplineActions" required>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent" (click)="onFormChange()">
            Previous
          </button>
          <button mat-raised-button matStepperNext type="button" color="accent" (click)="onFormChange()">
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="visionForm">
      <form fxLayout="column" [formGroup]="visionForm">
        <ng-template matStepLabel>Vision For School</ng-template>
        <div fxFlex="1 0 auto" fxLayout="column" class="group-container">
          <div class="label-container">
            <mat-label>
              <p>Choose THREE School related 'issues' and describe them in 250 words. The purpose is to make you recognize "what is an issue / problem." We want your honest opinion and the school would address issues that you as prospective leaders are grappling with. Categorise your report into four parts.</p>
              <ul>
                <li>What I see (truth/factual part)</li>
                <li>What I hear (might not be true but it is going around, might include hearsay).</li>
                <li>What I perceive(your understanding of the issue)</li>
                <li>What I suggest/solutions.</li>
              </ul>
            </mat-label>
          </div>
          <div formGroupName="issue1" class="group-container" fxFlex="100" fxLayout="column">
            <div class="label-container">
              <mat-label>Topic 1</mat-label>
            </div>
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Write/Paste Title Here</mat-label>
              <input matInput formControlName="title" required>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Write/Paste Content Here</mat-label>
              <textarea matInput formControlName="content" required></textarea>
              <mat-hint align="end">( Maximum 250 words )</mat-hint>
              <mat-error *ngIf="visionForm.get('issue1.content').hasError('maxWords') && visionForm.get('issue1.content').touched">
                Content has a maximum length of 250 words.
              </mat-error>
            </mat-form-field>
          </div>
          <div formGroupName="issue2" class="group-container" fxFlex="100" fxLayout="column">
            <div class="label-container">
              <mat-label>Topic 2</mat-label>
            </div>
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Write/Paste Title Here</mat-label>
              <input matInput formControlName="title" required>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Write/Paste Content Here</mat-label>
              <textarea matInput formControlName="content" required></textarea>
              <mat-hint align="end">( Maximum 250 words )</mat-hint>
              <mat-error *ngIf="visionForm.get('issue2.content').hasError('maxWords') && visionForm.get('issue2.content').touched">
                Content has a maximum length of 250 words.
              </mat-error>
            </mat-form-field>
          </div>
          <div formGroupName="issue3" class="group-container" fxFlex="100" fxLayout="column">
            <div class="label-container">
              <mat-label>Topic 3</mat-label>
            </div>
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Write/Paste Title Here</mat-label>
              <input matInput formControlName="title" required>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Write/Paste Content Here</mat-label>
              <textarea matInput formControlName="content" required></textarea>
              <mat-hint align="end">( Maximum 250 words )</mat-hint>
              <mat-error *ngIf="visionForm.get('issue3.content').hasError('maxWords') && visionForm.get('issue3.content').touched">
                Content has a maximum length of 250 words.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent" (click)="onFormChange()">
              Previous
            </button>
            <button mat-raised-button matStepperNext type="button" color="accent" (click)="onFormChange()">
              Next
            </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="finalForm">
      <form fxLayout="column" [formGroup]="finalForm">
        <ng-template matStepLabel>References</ng-template>
        <div fxFlex="1 0 auto" fxLayout="column">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>House Incharge</mat-label>
            <input matInput disabled [value]="finalForm.get('houseIncharge').value">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Class Teacher</mat-label>
            <input matInput disabled [value]="finalForm.get('classTeacher').value">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Any Other Teacher</mat-label>
            <mat-select formControlName="otherReferee">
              <mat-option *ngFor="let teacher of teacherList" [value]="teacher">
                {{ teacher }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent" (click)="onFormChange()">
            Previous
          </button>
          <button mat-raised-button matStepperNext type="button" color="accent" (click)="onFormChange()">
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Apply</ng-template>
      <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
        Thank your for filling out the nomination form.
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent" (click)="onFormChange()">
            Previous
        </button>
        <button mat-raised-button type="button" color="accent" (click)="onSubmit()">
            Finish
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
<!-- <div class="student-form-container">
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" *ngIf="studentForm">
    <div class="student-image-container">
      <div class="student-image">
        <img src="/assets/images/photo.jpeg" alt="student photo">
      </div>
    </div>
    <div class="post-selection">
      <label>Post Applied For : </label>
      <input type="checkbox" name="schoolPrefect" #schoolPrefect value="schoolPrefect" (change)="postSelectionChange($event)" [disabled]="formSubmitted">
      <label class="post-selection-label" for="schoolPrefect">School Prefect</label>
      <input type="checkbox" name="housePrefect" #housePrefect value="housePrefect" (change)="postSelectionChange($event)" [disabled]="formSubmitted">
      <label class="post-selection-label" for="housePrefect">House Prefect</label>
    </div>
    <div class="form-group">
      <label class="text-label">Name : </label>
      <div class="form-group-input">
        <span class="form-text">{{ studentDetails?.studentName }}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="text-label">Class : </label>
      <div class="form-group-input">
        <span class="form-text">{{ studentDetails?.class }}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="text-label">House : </label>
      <div class="form-group-input">
        <span class="form-text">{{ studentDetails?.house }}</span>
      </div>
    </div>
    <div class="cards">
      <label class="cards-left">Cards : </label>
      <div class="cards-right">
        <div class="card-group">
          <label class="card-group-label form-text">WORTHY : </label>
          <span>0</span>
        </div>
        <div class="card-group">
          <label class="card-group-label form-text">INTELLECT : </label>
          <span>3</span>
        </div>
        <div class="card-group">
          <label class="card-group-label form-text">STATURE : </label>
          <span>1</span>
        </div>
        <div class="card-group">
          <label class="card-group-label form-text">EMOTION : </label>
          <span>0</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>1. Record of responsibilities held so far : <span class="required">*</span></label>
      <div class="form-group-input">
        <input
          type="text"
          class="form-control"
          formControlName="resposibilitiesHeld"
          *ngIf="!formSubmitted"
        />
        <p class="error-text" *ngIf="studentForm.get('resposibilitiesHeld').hasError('required') && studentForm.get('resposibilitiesHeld').touched && !formSubmitted">
          This field is Required
        </p>
        <span class="form-text" *ngIf="formSubmitted">{{ studentForm.get('resposibilitiesHeld').value }}</span>
      </div>
    </div>
    <div formGroupName="academicPerformance">
      <label>2. Academic Performance</label>
      <div class="form-group">
        <label class="space-left">a. Total (%) - 5 Subjects <span class="required">*</span></label>
        <div class="form-group-input">
          <input type="number" class="form-control" formControlName="total" *ngIf="!formSubmitted" />
          <p class="error-text" *ngIf="!formSubmitted">
            <span *ngIf="studentForm.get('academicPerformance.total').hasError('required') && studentForm.get('academicPerformance.total').touched">
              Total Percentage is Required
            </span>
            <span *ngIf="studentForm.get('academicPerformance.total').hasError('max') && studentForm.get('academicPerformance.total').touched">
              Maximum value for total percentage is 100
            </span>
            <span *ngIf="studentForm.get('academicPerformance.total').hasError('min') && studentForm.get('academicPerformance.total').touched">
              Minimum value for total percentage is 0
            </span>
          </p>
          <span class="form-text" *ngIf="formSubmitted">{{ studentForm.get('academicPerformance.total').value }}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="space-left">b. 11th Midterm (%) (if not applicable fill NA) <span class="required">*</span></label>
        <div class="form-group-input">
          <input
            type="text"
            class="form-control"
            formControlName="eleventhMidTermPerc"
            placeholder="TO BE FILLED BY CLASS TEACHER"
            *ngIf="!formSubmitted"
          />
          <p class="error-text" *ngIf="!formSubmitted">
            <span *ngIf="studentForm.get('academicPerformance.eleventhMidTermPerc').hasError('required') && studentForm.get('academicPerformance.eleventhMidTermPerc').touched">
              11th Midterm percentage is Required. If not applicable, please fill NA
            </span>
          </p>
          <span class="form-text" *ngIf="formSubmitted">{{ studentForm.get('academicPerformance.eleventhMidTermPerc').value }}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="space-left">c. Attendence (%) <span class="required">*</span></label>
        <div class="form-group-input">
          <input
            type="number"
            class="form-control"
            formControlName="attendancePerc"
            placeholder="TO BE FILLED BY CLASS TEACHER"
            *ngIf="!formSubmitted"
          />
          <p class="error-text" *ngIf="!formSubmitted">
            <span *ngIf="studentForm.get('academicPerformance.attendancePerc').hasError('required') && studentForm.get('academicPerformance.attendancePerc').touched">
              Attendance Percentage is Required
            </span>
            <span *ngIf="studentForm.get('academicPerformance.attendancePerc').hasError('max') && studentForm.get('academicPerformance.attendancePerc').touched">
              Maximum value for attendance percentage is 100
            </span>
            <span *ngIf="studentForm.get('academicPerformance.attendancePerc').hasError('min') && studentForm.get('academicPerformance.attendancePerc').touched">
              Minimum value for attendance percentage is 0
            </span>
          </p>
          <span class="form-text" *ngIf="formSubmitted">{{ studentForm.get('academicPerformance.attendancePerc').value }}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>3. Have you failed in any subject in Midterm: <span class="required">*</span></label>
      <div class="form-group-input">
        <select name="failedMidtermOrNot" formControlName="failedMidtermOrNot" *ngIf="!formSubmitted">
          <option [value]="null" readonly>Please Select</option>
          <option value="yes">YES</option>
          <option value="no">NO</option>
        </select>
        <p class="error-text" *ngIf="studentForm.get('failedMidtermOrNot').hasError('required') && studentForm.get('failedMidtermOrNot').touched && !formSubmitted">
          This field is Required
        </p>
        <span class="form-text" *ngIf="formSubmitted">{{ studentForm.get('failedMidtermOrNot').value }}</span>
      </div>
    </div>
    <div class="form-group">
      <label>4. Co-Scholastic Achievement: <span class="required">*</span></label>
      <div class="form-group-input">
        <input
          type="text"
          class="form-control"
          formControlName="scholasticAchievement"
          *ngIf="!formSubmitted"
        />
        <p class="error-text" *ngIf="studentForm.get('scholasticAchievement').hasError('required') && studentForm.get('scholasticAchievement').touched && !formSubmitted">
          This field is Required. If not applicable, please fill NA
        </p>
        <span class="form-text" *ngIf="formSubmitted">{{ studentForm.get('scholasticAchievement').value }}</span>
      </div>
    </div>
    <div class="form-group">
      <label>5. Sports Achievement: <span class="required">*</span></label>
      <div class="form-group-input">
        <input
          type="text"
          class="form-control"
          formControlName="sportsAchievement"
          *ngIf="!formSubmitted"
        />
        <p class="error-text" *ngIf="studentForm.get('sportsAchievement').hasError('required') && studentForm.get('sportsAchievement').touched && !formSubmitted">
          This field is Required. If not applicable, please fill NA
        </p>
        <span class="form-text" *ngIf="formSubmitted">{{ studentForm.get('sportsAchievement').value }}</span>
      </div>
    </div>
    <div class="form-group">
      <label>6. Other Achievements: <span class="required">*</span></label>
      <div class="form-group-input">
        <input
          type="text"
          class="form-control"
          formControlName="otherAchievement"
          *ngIf="!formSubmitted"
        />
        <p class="error-text" *ngIf="studentForm.get('otherAchievement').hasError('required') && studentForm.get('otherAchievement').touched && !formSubmitted">
          This field is Required. If not applicable, please fill NA
        </p>
        <span class="form-text" *ngIf="formSubmitted">{{ studentForm.get('otherAchievement').value }}</span>
      </div>
    </div>
    <div class="form-group">
      <label>7. Any case of indiscipline that you have been invoved in: <span class="required">*</span></label>
      <div class="form-group-input">
        <input
          type="text"
          class="form-control"
          formControlName="indisciplineActions"
          *ngIf="!formSubmitted"
        />
        <p class="error-text" *ngIf="studentForm.get('indisciplineActions').hasError('required') && studentForm.get('indisciplineActions').touched && !formSubmitted">
          This field is Required. If not applicable, please fill NA
        </p>
        <span class="form-text" *ngIf="formSubmitted">{{ studentForm.get('indisciplineActions').value }}</span>
      </div>
    </div>
    <div class="list-container">
      <label>
        8. Choose THREE School related 'issues' and describe them in 250
        words. The purpose is to make you recognize "what is an issue/problem."We
        want your honest opinion and the school would address issues that you as
        prospective leaders are grappling with. Categorise your report into four
        parts.
      </label>
      <ul class="list space-left">
        <li>What I see (truth/factual part)</li>
        <li>What I hear (might not be true but it is going around, might include hearsay).</li>
        <li>What I perceive(your understanding of the issue)</li>
        <li>What I suggest/solutions.</li>
      </ul>
      <div class="form-group" formGroupName="issue1">
        <label class="space-left">Topic 1 <span class="required">*</span></label>
        <div class="form-group-input">
          <input
            type="text"
            class="form-control"
            formControlName="title"
            placeholder="WRITE/PASTE TITLE HERE"
            *ngIf="!formSubmitted"
          />
          <p class="error-text" *ngIf="studentForm.get('issue1.title').hasError('required') && studentForm.get('issue1.title').touched && !formSubmitted">
            This field is Required.
          </p>
          <p class="form-text" *ngIf="formSubmitted">{{ studentForm.get('issue1.title').value }}</p>
          <textarea
            type="text"
            class="form-control"
            formControlName="content"
            placeholder="WRITE/PASTE CONTENT HERE"
            *ngIf="!formSubmitted"
          ></textarea>
          <div class="textarea-footer" *ngIf="!formSubmitted">
            ( Maximum 250 words )
          </div>
          <p class="error-text" *ngIf="studentForm.get('issue1.content').hasError('required') && studentForm.get('issue1.content').touched && !formSubmitted">
            This field is Required. 
          </p>
          <p class="error-text" *ngIf="studentForm.get('issue1.content').hasError('maxWords') && studentForm.get('issue1.content').touched && !formSubmitted">
            This maximum length for this field is 250 words. 
          </p>
          <p class="form-text" *ngIf="formSubmitted">{{ studentForm.get('issue1.content').value }}</p>
        </div>
      </div>
      <div class="form-group" formGroupName="issue2">
        <label class="space-left">Topic 2 <span class="required">*</span></label>
        <div class="form-group-input">
          <input
            type="text"
            class="form-control"
            formControlName="title"
            placeholder="WRITE/PASTE TITLE HERE"
            *ngIf="!formSubmitted"
          />
          <p class="error-text" *ngIf="studentForm.get('issue2.title').hasError('required') && studentForm.get('issue2.title').touched && !formSubmitted">
            This field is Required.
          </p>
          <p class="form-text" *ngIf="formSubmitted">{{ studentForm.get('issue2.title').value }}</p>
          <textarea
            type="text"
            class="form-control"
            formControlName="content"
            placeholder="WRITE/PASTE CONTENT HERE"
            *ngIf="!formSubmitted"
          ></textarea>
          <div class="textarea-footer" *ngIf="!formSubmitted">
            ( Maximum 250 words )
          </div>
          <p class="error-text" *ngIf="studentForm.get('issue2.content').hasError('required') && studentForm.get('issue2.content').touched && !formSubmitted">
            This field is Required. 
          </p>
          <p class="error-text" *ngIf="studentForm.get('issue2.content').hasError('maxWords') && studentForm.get('issue2.content').touched && !formSubmitted">
            This maximum length for this field is 250 words. 
          </p>
          <p class="form-text" *ngIf="formSubmitted">{{ studentForm.get('issue2.content').value }}</p>
        </div>
      </div>
      <div class="form-group" formGroupName="issue3">
        <label class="space-left">Topic 3 <span class="required">*</span></label>
        <div class="form-group-input">
          <input
            type="text"
            class="form-control"
            formControlName="title"
            placeholder="WRITE/PASTE TITLE HERE"
            *ngIf="!formSubmitted"
          />       
          <p class="error-text" *ngIf="studentForm.get('issue3.title').hasError('required') && studentForm.get('issue3.title').touched && !formSubmitted">
            This field is Required. 
          </p>
          <p class="form-text" *ngIf="formSubmitted">{{ studentForm.get('issue3.title').value }}</p>
          <textarea
            type="text"
            class="form-control"
            formControlName="content"
            placeholder="WRITE/PASTE CONTENT HERE"
            *ngIf="!formSubmitted"
          ></textarea>
          <div class="textarea-footer" *ngIf="!formSubmitted">
            ( Maximum 250 words )
          </div>
          <p class="error-text" *ngIf="studentForm.get('issue3.content').hasError('required') && studentForm.get('issue3.content').touched && !formSubmitted">
            This field is Required. 
          </p>
          <p class="error-text" *ngIf="studentForm.get('issue3.content').hasError('maxWords') && studentForm.get('issue3.content').touched && !formSubmitted">
            This maximum length for this field is 250 words. 
          </p>
          <p class="form-text" *ngIf="formSubmitted">{{ studentForm.get('issue3.content').value }}</p>
        </div>
      </div>
    </div>
    <div class="">
      <label>
        9. Referees
      </label>
    </div>
    <div class="form-group">
      <label class="space-left">House Incharge:</label>
      <div class="form-group-input">
        <span class="form-text">{{ studentDetails?.houseIncharge }}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="space-left">Class Teacher:</label>
      <div class="form-group-input">
        <span class="form-text">{{ studentDetails?.classTeacher }}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="space-left">Any Other teacher:</label>
      <div class="form-group-input">
        <select name="otherReferee" formControlName="otherReferee" *ngIf="!formSubmitted">
          <option [value]="null" readonly>Please select</option>
          <option *ngFor="let teacher of teacherList" [value]="teacher">
            {{teacher}}
          </option>
        </select>
        <p class="form-text" *ngIf="formSubmitted">{{ studentForm.get('otherReferee').value }}</p>
      </div>
    </div>
    <div class="btn-container">
      <div class="blank"></div>
      <button 
        class="btn" 
        type="submit" 
        [disabled]="studentForm.invalid" 
        [ngClass]="{
          'btn-disabled': studentForm.invalid,
          'btn-enabled': !studentForm.invalid
        }"
        *ngIf="!formSubmitted"
      >
        Submit
      </button>
    </div>
  </form>
</div> -->
